<app-user-not-found *ngIf="userNotFound == -1"> </app-user-not-found>

<mat-card *ngIf="userNotFound == 1" class="profil-card">
    <input type="file" #file style="display: none" (change)="uploadFile()" />

    <div class="row">
        <div class="col-sm-6">
            <mat-card-header>
                <div class="row">
                    <div class="col-sm-6">
                        <div *ngIf="!editable" mat-card-avatar class="profil-card-avatar">
                            <img mat-card-avatar [src]="base64Image">
                        </div>
                        <div *ngIf="editable" (click)="addFiles()" mat-card-avatar [ngClass]="{'profil-card-avatar': true, 'editable-image': editable}">
                            <img mat-card-avatar [src]="base64Image">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <mat-card-title> {{allProfileData?.basic?.userName}} </mat-card-title>
                        <mat-card-subtitle> 
                            {{allProfileData?.basic?.email}} 
                            <hr>
                            <div style="display: flex">
                                <div [innerHTML]="allProfileData?.contact?.description">
                                </div>
                                <button *ngIf="editable" mat-mini-fab class="contact-button" (click)="openEditContactDialog()">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                        </mat-card-subtitle>
                    </div>
                </div>
            </mat-card-header>
        </div>
        <div class="col-sm-6">
            <div class="about-me-container">
                <div [innerHTML]="allProfileData?.aboutMe?.description"></div>
                <button *ngIf="editable" (click)="openEditAboutMeDialog()" mat-mini-fab color="primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>
  <mat-card-content>
      <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab *ngIf="allProfileData?.courses.length != 0" label="{{'Praca Dydaktyczna' | translate}}">
            <div class="example-large-box mat-elevation-z4">
                <mat-list role="list">
                    <span *ngFor="let item of allProfileData?.courses">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}r</button>
                            <p [innerHTML]="item.description"></p> 
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="{{'Publikacje' | translate}}" *ngIf="editable || (!editable && allProfileData?.publications.length != 0)">
            <div class="example-large-box mat-elevation-z4">
                <mat-list *ngIf="editable" role="list" class="droppable-list" cdkDropList (cdkDropListDropped)="drop($event, 0)">
                    <mat-list-item role="listitem" class="list">
                        <div class="list-editor-content">
                            <angular-editor [(ngModel)]="publicationEditModel" [config]="config"></angular-editor>
                            <button mat-raised-button (click)="addProfileAttribute(0)" class="button-accept"> {{'Dodaj' | translate}} </button>
                        </div>
                    </mat-list-item>
                    <hr/>
                    <span class="droppable-box" cdkDrag *ngFor="let item of allProfileData?.publications">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                            <div  class="list-button-delete-content">
                                <button (click)="deleteProfileAttribute(item.id)" mat-mini-fab color="warn">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>

                <mat-list *ngIf="!editable" role="list" >
                    <span *ngFor="let item of allProfileData?.publications">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="{{'Konferencje' | translate}}" *ngIf="editable || (!editable && allProfileData?.conferences.length != 0)">
            <div class="example-large-box mat-elevation-z4">
                <mat-list *ngIf="editable" role="list" class="droppable-list" cdkDropList (cdkDropListDropped)="drop($event, 2)">
                    <mat-list-item role="listitem" class="list">
                        <div class="list-editor-content">
                            <angular-editor [(ngModel)]="conferenceEditModel" [config]="config"></angular-editor>
                            <button (click)="addProfileAttribute(2)" class="button-accept" mat-raised-button> {{'Dodaj' | translate}} </button>
                        </div>
                    </mat-list-item>
                    <hr/>
                    <span class="droppable-box" cdkDrag *ngFor="let item of allProfileData?.conferences">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                            <div class="list-button-delete-content">
                                <button (click)="deleteProfileAttribute(item.id)" mat-mini-fab color="warn">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>
                <mat-list *ngIf="!editable" role="list" >
                    <span *ngFor="let item of allProfileData?.conferences">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="{{'Projekty badawcze' | translate}}" *ngIf="editable || (!editable && allProfileData?.researchProjects.length != 0)">
            <div class="example-large-box mat-elevation-z4">
                <mat-list *ngIf="editable" role="list" class="droppable-list" cdkDropList (cdkDropListDropped)="drop($event, 4)">
                    <mat-list-item role="listitem" class="list">
                        <div class="list-editor-content"> 
                            <angular-editor [(ngModel)]="projectsResearchEditModel" [config]="config"></angular-editor>
                            <button (click)="addProfileAttribute(4)" mat-raised-button class="button-accept"> {{'Dodaj' | translate}} </button>
                        </div>
                    </mat-list-item>
                    <hr/>
                    <span class="droppable-box" cdkDrag *ngFor="let item of allProfileData?.researchProjects">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                            <div class="list-button-delete-content">
                                <button (click)="deleteProfileAttribute(item.id)" mat-mini-fab color="warn">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>

                <mat-list *ngIf="!editable" role="list">
                    <span *ngFor="let item of allProfileData?.researchProjects">
                        <mat-list-item role="listitem" class="list">
                            <button disabled class="list-button" mat-mini-fab color="primary">{{item.number}}</button>
                            <p [innerHTML]="item.description"></p> 
                        </mat-list-item>
                        <hr/>
                    </span>
                </mat-list>
            </div>
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>