.profil-card {
    .button-accept {
        background-color: #5cb85c;
        color: white;
    }

    margin-top: 30px;

    .profil-card-avatar {
        position: relative;
        top: -40px;
        height: 200px;
        width: 200px;

        img {
            height: 200px; 
            width: 200px;
        }
    }

    .editable-image {
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .contact-button {
        margin: auto;
        
        @extend .button-accept;
    }

    .about-me-container {
        display: flex;

        button {
            @extend .button-accept;
        }
    }

    .example-large-box {
        .list {
            height: 100%;

            .list-button-delete-content {
                width: 80px;

                button {
                    right: 0;
                    position: absolute;
                }
            }

            .list-editor-content {
                display: grid;
                margin-left: auto;
                margin-right: auto;
                color: black !important;
                background-color: white !important;
            }

            .list-button {
                margin: 20px;
            }
        }
    }
}

//    Dropabble
.droppable-list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .droppable-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .droppable-box:last-child {
    border: none;
  }
  
  .droppable-list.cdk-drop-list-dragging .droppable-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }