<div class="navbar navbar-inverse" style="margin-bottom:0px; border-radius:0px;">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Przełącz nawigację</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
              <a routerLink="" style="vertical-align:middle; line-height:50px; padding-left: 15px">
                  <img style="display:inline-block;" src="\assets\LogoNapisSmall.png" width="100" />
              </a>
        </div> 
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li> <a routerLink="contact" translate>Kontakt</a> </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a style="cursor: pointer;" *ngIf="!auth.hasAuthenticated()" (click)="onOpenDialog()"> {{'Zaloguj' | translate}}</a>
              <a style="cursor: pointer;" *ngIf="auth.hasAuthenticated()" (click)="auth.logout()"> {{'Wyloguj' | translate}}</a>
            </li>
        
        </ul>
      </div>

  </div>
</div>
<div class="container-fluid switcher-container">
    <mat-slide-toggle [checked]="isThemeDark | async" (change)="toggleDarkTheme($event.checked)">{{'Ciemny motyw' | translate}}</mat-slide-toggle> 
</div>

