
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
     background-color:  rgba(0,0,0,0.50);
    }
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
     background-color: #F4D71A;
}
/deep/ .mat-slide-toggle-bar{
    background-color: rgba(0,0,0,0.50);
}
/deep/ .mat-slide-toggle{
    
    font-size: 12px;
    font-weight: 100 !important;
}
/deep/ .mat-slide-toggle-content{
    color:#828282;
    font-weight: 400;
}
.switcher-container{
    display: flex; 
    justify-content: flex-end;
    background-color: #EEEEEE;
    height: 26px;
}

/*
/deep/ .mat-slide-toggle-bar {
    height: 7px !important;
    width: 28px !important;
  }
  
  /deep/ .mat-slide-toggle-thumb {
    height: 10px !important;
    width: 10px !important;
  }
  
  /deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
      transform: translate3d(18px,0,0) !important;
  }
  
  /deep/ .mat-slide-toggle-thumb-container {
      width: 12px !important;
      height: 12px !important;
      top: -2px !important;
  }*/