<img mat-card-sm-image src="\assets\logo.png" class="logintitle"/>
<mat-card-title class="logintitle">Logowanie</mat-card-title>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onSubmit()">
      <div class="login-container">
          <mat-form-field>
            <input 
              matInput 
              cdkFocusInitial
              placeholder="E-mail" 
              type="email"
              formControlName="login">
          </mat-form-field>
        
          <mat-form-field>
            <input 
            matInput 
            placeholder="Hasło" 
            type="password"
            formControlName="password">
          </mat-form-field>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="success">Zaloguj</button>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>