.loginForm {
    .login-container {
        display: flex;
        flex-direction: column;
    }
    .login-container > * {
        width: 100%;
    }
    button[type=submit] {
        width: 100%;
    }
    
}
.logintitle{
    text-align: center;
}
img.logintitle{
    display: block;
    margin: 0 auto;
}
