<mat-card>
    <div>
        <mat-card-content>
            <h2>Dane kontaktowe</h2>
            <address>
                Instytut Informatyki UPH<br />
                ul. 3 Maja 54<br />
                08-110 Siedlce
            </address>
                    
            <address>
                <strong>Zgłaszanie problemów i sugestii: </strong> <a href="mailto:support@apps.ii.uph.edu.pl">support@apps.ii.uph.edu.pl</a><br />
            </address>     
        </mat-card-content>
    </div>
</mat-card>