.country-content {
    float: right;
    margin-right: 10px;
    .active {
        border-style: solid;
        border-width: 2px;
        border-radius: 90px;
        border-color: green;
    }

    img {
        height: 22px; 
        margin: 5px; 
        margin-right: 5px;
        cursor: pointer;
    }
}

.example-section{
    display:flex;
    align-content: center;
    align-items: center;
    height: 60px;
    background-color: #cecece;
    padding-left: 20px;
}