<div [ngClass]="{'dark-theme': isThemeDark | async}">

<app-navbar></app-navbar>

<div class="country-content">
    <img (click)="setCountry(0)" [ngClass]="{'active': countrySelected == 0}" src="https://image.flaticon.com/icons/svg/197/197374.svg">
    <img (click)="setCountry(1)" [ngClass]="{'active': countrySelected == 1}" src="https://image.flaticon.com/icons/svg/197/197529.svg">
</div>

<div class="container body-content" style="margin-top:20px;">

    <div style="margin-top: 30px;">
        <ngx-spinner
            bdColor = "rgba(51, 51, 51, 0.8)"
            size = "large"
            color = "#fff"
            type = "ball-atom"
        ></ngx-spinner>
        <router-outlet></router-outlet>
    </div>
    <br />
    <span layout="row"><hr flex/>
        <footer>
                <p>&copy; Damian Stępniak, Bartosz Jamborski 2018 </p>
            </footer>
    </span>
</div>
</div>

