<div mat-dialog-content>
    <angular-editor [(ngModel)]="data.description" [config]="config"></angular-editor>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="button-accept" [mat-dialog-close]="data.description" cdkFocusInitial>{{'Zapisz' | translate}}</button>
</div>