.img {
    width: 100%;
    max-width: 450px;
}
.container {
    min-height: 100%;
    width: 100%;
}

table.profilestable{
    width:100%;
}

.mat-form-field {
    width: 100%;
  }


//::ng-deep th.mat-header-cell{
 //   color: red;
//}

tr.mat-footer-row, tr.mat-row{
    height: 100px;
}

.searchcard{
    box-shadow: none;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}
.przedmioty{
    background-color: rgba(198, 198, 198, 0.1);
    text-align: center;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: gray;
    float: left;
    margin: 5px 5px 5px 0px;
}
i.profilesicon{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

.customavatar{
    height: 50px;
    width: 50px;
}


.mat-cell:nth-child(1), .mat-header-cell:nth-child(1) {
    width: 10%;
}
.mat-cell:nth-child(2), .mat-header-cell:nth-child(2) {
    width: 20%;
}
.mat-cell:nth-child(3), .mat-header-cell:nth-child(3) {
    width: 40%;
}
.mat-cell:nth-child(4), .mat-header-cell:nth-child(4) {
    width: 30%;
    text-align: center;
}

@media screen and (max-width: 600px) {

    .mat-cell:nth-child(3), .mat-header-cell:nth-child(3){
        display: none;
    }

    .customlogo{
        display: none;
    }
    .mat-header-cell{
        display: none;
    }
}


  