<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%" fxFlexAlign="center" style="text-align: center;">
                <img mat-card-image class="img" src="\assets\header1.png" alt="Designed by Sapann-Design" />
        </div>
        <div fxFlex="50%" fxFlexAlign="center">
                <img mat-card-image class="img customlogo" src="\assets\LogoNapisBig.png" />
                <mat-card-title>Wykładowcy, ćwiczeniowcy, profesorzy, doktorzy</mat-card-title>
                <mat-card-subtitle>w jednym miejscu</mat-card-subtitle>
        </div>
</div>

<mat-card class="searchcard">
        <mat-card-content>
                <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon><input matInput (keyup)="applyFilter($event.target.value)"
                                placeholder="Wyszukaj profil...">
                </mat-form-field>
        </mat-card-content>
</mat-card>
<div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="profilestable responsive-table">
               
                <ng-container matColumnDef="photo">
                        <th mat-header-cell *matHeaderCellDef class="mobileheader"></th>
                        <td mat-cell *matCellDef="let element" >
                                <a href="{{element.link}}"><img mat-card-avatar [src]="element.photo" class="customavatar"></a>
                        </td>
                </ng-container>

                <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="mobileheader"></th>
                        <td mat-cell *matCellDef="let element" > 
                                <a href="{{element.link}}">{{element.name}}</a>
                        </td>
                </ng-container>

                <ng-container matColumnDef="work">
                        <th mat-header-cell *matHeaderCellDef class="profilesthead mobileheader">Prowadzone przedmioty</th>
                        <td mat-cell *matCellDef="let element" class="customcell">
                                <span class="przedmioty">{{element.work}}</span>
                                <span class="przedmioty">Każdy przedmiot oddzielnie</span>
                                <span class="przedmioty">Każdy przedmiot oddzielnie</span>

                        </td>
                </ng-container> 

                <ng-container matColumnDef="link">
                        <th mat-header-cell *matHeaderCellDef class="mobileheader"></th>
                        <td mat-cell *matCellDef="let element" >
                                <a mat-button routerLink="{{element.link}}">
                                       <i class="material-icons profilesicon">assignment_ind</i>
                                       Odwiedź profil</a>
                        </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 20, 50]"></mat-paginator>
</div>